Django==3.2.25
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9

numpy==1.23.5
pandas==1.5.3
matplotlib==3.7.1
scikit-learn==1.2.2

tensorflow==2.12.0
h5py==3.8.0
protobuf==3.20.3

shap==0.42.1
lime==0.2.0.1